:root {
  --color-bg: #f1faee;
  --c1: #e63946;
  --c2: #a8dadc;
  --c3: #457b9d;
  --c4: #1d3557;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}
