@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

:root {
  --color-bg: #f1faee;
  --c1: #e63946;
  --c2: #a8dadc;
  --c3: #457b9d;
  --c4: #1d3557;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "Varela Round", sans-serif;
  background-image: url("./images/herringbone.webp");
}

.hidden {
  display: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
