.form-sec {
  margin-top: 1rem;
  display: flex;
}

.login {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../../images/spaghetti-g5f3cece28_1920.jpg");
}

.login-form {
  background-color: rgba(241, 250, 238, 0.98);
  box-shadow: 0.4rem 0.4rem 1.2rem #222;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 33rem;
  margin-top: 16rem;
  padding: 0 2rem 2rem 2rem;
  border-radius: 1.5rem;
  border: 0.2rem solid var(--c4);
}

.login-form button {
  margin-top: 2rem;
  width: 14rem;
  height: 2.8rem;
  align-self: center;
  border-radius: 0.4rem;
  border: none;
  background-color: var(--c3);
  border: 0.1rem solid var(--c4);
  color: white;
  box-shadow: 0.1rem 0.1rem 0.3rem #444;
  font-size: 1.8rem;
}

.login-form h2 {
  margin-bottom: 1rem;
}

.login-form label {
  margin-right: 1rem;
}

.login-form input {
  flex-grow: 1;
}

.login-form p {
  text-align: center;
}
